body {font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity; 0.9
}

header {display: flex;
  border-bottom: 1px solid seashell;
    z-index: 1;
  height: 69px;
  width: 100%;
  margin: auto;
}
.teacozy {height: 50px;
margin-left: 10px;
margin-right: 700px;
}
header nav {text-decoration: underline;
  display: flex;
  align-items: center;
  }
header span {padding-right: 20px;
}

.OurMission {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  flex-grow: 1;
width: 1200px;
height: 700px;
padding-top: 300px;
background-color: black;
border-left: 80px solid black;
}


.OurMission h2 {display: flex;
justify-content: center;
flex-grow: 1;
}

.OurMission h4 {display: flex;
justify-content: center;
flex-grow: 1;
}

.TeaMonth {display: flex;
  justify-content: center;
  margin-top: 40px;
}

.columns {display: flex;
flex-direction: row;
margin-left: 200px;
width: 1000px;
}
  .spiced {height: 200px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
   }

  .FallBerry p {display: flex;
  justify-content: center;
}

.OtherRows {display: flex;
  flex-direction: row;
  }

.tea {height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.teabed {height: 200px;
  width: 300px;
  margin-bottom: 10px;
  }

.locations {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
width: 1200px;
height: 500px;
margin: auto;
}

.locations h2 {text-align: center;
padding-top: 80px;
margin-bottom: 15px;
}

.downtown3 {display: flex;
  opacity: 0.9;
flex-direction: row;
justify-content: space-around;
}

.downtown {background-color: black;
  width: 300px;
  text-align: center;
}

.eastbay {background-color: black;
  width: 300px;
  text-align: center;
}

.oakdale {background-color: black;
  width: 300px;
  text-align: center;
  }

  .contact {text-align: center;
    height: 200px;
  }

  footer {text-align: left;
  margin-left: 20px;
}
