body {font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity; 0.9
}

header {display: flex;
  border-bottom: 1px solid seashell;
  z-index: 1;
  height: 69px;
  width: 100%;
}
.tea {height: 50px;
margin-left: 10px;
margin-right: 800px;
}
header nav {text-decoration: underline;
  display: flex;
  align-items: center;
  }
header span {padding-right: 20px;
}

.OurMission {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
flex-grow: 1;
width: 1200px;
height: 700px;
}

.OurMission h2 {display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
}

.OurMission h4 {display: flex;
justify-content: center;
flex-grow: 1;
}
